<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOGO</key>
	<string>thai_logo</string>
	<key>TABLE_CELL_BG_RGB</key>
	<array>
		<integer>255</integer>
		<integer>240</integer>
		<integer>230</integer>
	</array>
	<key>NAV_COLOR</key>
	<array>
		<integer>66</integer>
		<integer>14</integer>
		<integer>84</integer>
	</array>
	<key>BODY_TEXT_COLOR</key>
	<array>
		<integer>9</integer>
		<integer>73</integer>
		<integer>77</integer>
	</array>
</dict>
</plist>
